
{% extends "Home/base_home.html" %}
{% load static %}
<html>
    <head>
       <script type = 'text/javascript' href="{% static 'home.js' %}"></script>
       <style>
       .box {
            height: 200px;
            width: 250px;
            border-radius: 10px;
            border: 2px solid #666;
            padding: 6px 0px;
            background: #ccc;
}
       </style>
    </head>
    <body>
            {%block content%}
            <form name="loginform"  action="{% url 'login' %}" method="POST">
                {% csrf_token  %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label>Designation</label>
                    <select name="role" class="browser-default custom-select" required>
                        <option value="0" selected>Choose your Designation</option>
                        <option value="1">Student</option>
                        <option value="2">Teacher</option>
                        <option value="3">Admin</option>
                      </select>
                  </div>
                <button type="submit" class="btn btn-primary">Login</button><br>
                <div class="form-group">
              </form>
                <br>
                <P><b>Feedbacks -</b></P>
              <div style="height:200px;width:1100px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;background-color:#FCFADD;color:black;border-radius: 10px;">
                {% for f in feed %}
                  
                
                <article class="media content-section bg-dark">
                    <div class="media-body">
                      <div class="article-metadata">
                        <p class="mr-2" ><b> {{f.name}}</b> says :-</p>
                      </div>
                      <div class="article-content">
                          <p><i>{{f.feedback}}</i></p>  
                      </div>
                    </div>
                </article>
                {% endfor %}
            

          {% endblock content%}
              </div>
              
    </body>
</html>