
{%extends "Home/base_teacher.html"%}
{% block content%}
<marquee  direction="right">
        <h4 style="color:blue">Notification - {{notif.subject_name}}</h4>
</marquee>
<table>
    <td><form action="{% url 'student_view1' %}">
        <button type="submit" name=year value="FE" class="btn btn-primary">First Year</button>
    </form></td>
    <td><form action="{% url 'attendance2' %}">
        <button type="submit" name=year value="SE" class="btn btn-primary">Second Year</button>
    </form></td>
    <td><form action="{% url 'attendance3' %}">
        <button type="submit" name=year value="TE" class="btn btn-primary">Third Year</button>
    </form></td>
    <td><form action="{% url 'attendance4' %}">
        <button type="submit" name=year value="BE" class="btn btn-primary">Forth Year</button>
    </form></td>
</table>
        {% for student in students %}
            <article class="media content-section">
                    <div class="media-body">
                      <div class="article-metadata">
                        <p class="mr-2" >Email:{{student.email}}</p>
                      </div>
                      <h2><p class="article-title">Name:{{student.first_name}} {{student.last_name}}</p></h2>
                      <div class="article-content">
                          <p>DOB:{{student.dob}}</p>  
                          <p>Mobile:{{student.mobile_no}}</p>  
                          <p>Gender:{{student.gender}}</p>
                      </div>
                      <a href="{%url 'student-delete' student.PRN %}"><button type="button" class="btn btn-danger">Delete</button></a>
                      
                    </div>
                  </article>
        {% endfor %}
{% endblock content %}